.userList{
  list-style: none;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}



.user :hover{
  background-color: rgb(243, 243, 243);
  border-right: none;
}

ul li a{
  border-bottom: 1px solid rgb(189, 187, 187);
  border-right: 1px solid rgb(189, 187, 187);;
  display: inline-block;
}

.info{
  margin-top: 1em;
  grid-column-start: 2; 
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
}

.topNav{
  background-color: #333;
  overflow: hidden;
}

.topNav a{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
